<div class="container">
  <div class="container-menu">
    <!-- <h1>ETL</h1> -->
  </div>

  <!-- <mat-card class="dashboard-info-card mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Visão Geral</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Este dashboard é uma ferramenta para simular e otimizar custos de serviços AWS focados em cargas de trabalho de engenharia de dados. Comece clicando em "Calcular Custo EC2" para simular o preço de uma instância de servidor.</p>
    </mat-card-content>
  </mat-card> -->

  <ng-container *ngIf="!results">
    <form [formGroup]="etlForm" (ngSubmit)="onSubmit()">
      <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>
        <!-- Etapa 1 - Extração -->
        <mat-step class="step" [stepControl]="etlForm.get('extract')!">
            <ng-template matStepLabel>Extract</ng-template>

            <div formGroupName="extract">

              <p>1. De onde os dados são obtidos? *</p>
              <mat-radio-group formControlName="origin" class="radio-group-responsive" aria-label="Select an option">
                <mat-radio-button value="API externa">API externa (ex: dados públicos, parceiros)</mat-radio-button>
                <mat-radio-button value="Arquivos">Arquivos (CSV, Excel, JSON)</mat-radio-button>
                <mat-radio-button value="Banco de dados">Banco de dados (MySQL, PostgreSQL, etc.)</mat-radio-button>
                <mat-radio-button value="Dados em tempo real">Dados em tempo real (sensores, dispositivos IoT, logs)</mat-radio-button>
              </mat-radio-group>

              <p class="radio-group-space">2. Com que frequência os dados são recebidos? *</p>
              <mat-radio-group formControlName="frequency" class="radio-group-responsive" aria-label="Select an option">
                <mat-radio-button value="Uma única vez">Uma única vez</mat-radio-button>
                <mat-radio-button value="Diariamente">Diariamente</mat-radio-button>
                <mat-radio-button value="De hora em hora">De hora em hora</mat-radio-button>
                <mat-radio-button value="Em tempo real">Em tempo real</mat-radio-button>
              </mat-radio-group>

              <p class="radio-group-space">3. Qual o tamanho médio dos dados? *</p>
              <mat-radio-group formControlName="size" class="radio-group-responsive" aria-label="Select an option">
                <mat-radio-button value="Menor que 100 MB">Menor que 100 MB</mat-radio-button>
                <mat-radio-button value="Entre 100 MB e 1 GB">Entre 100 MB e 1 GB</mat-radio-button>
                <mat-radio-button value="Entre 1 GB e 10 GB">Entre 1 GB e 10 GB</mat-radio-button>
                <mat-radio-button value="Entre 10 GB e 100 GB">Entre 10 GB e 100 GB</mat-radio-button>
                <mat-radio-button value="Maior que 100 GB">Maior que 100 GB</mat-radio-button>
              </mat-radio-group>

              <p class="radio-group-space">4. Deseja sugerir serviços específicos?</p>
              <div formArrayName="services" class="radio-group-responsive">
                <div *ngFor="let control of extractServicesArray.controls; let i = index">
                  <mat-checkbox [formControlName]="i">{{ extractServices[i] }}</mat-checkbox>
                </div>
              </div>

              <!-- <div>
                <p class="radio-group-space">3. Qual é o volume estimado por mês?</p>
                <mat-form-field>

                  <input matInput placeholder="Ex: 100 GB" formControlName="firstCtrl" required>
                </mat-form-field>
              </div> -->

              <div class="button-bottom-step-control">
                <button mat-raised-button color="primary" matStepperNext type="button">Avançar</button>
              </div>
            </div>
        </mat-step>

        <!-- Etapa 2 - Transformação -->
        <mat-step class="step" [stepControl]="etlForm.get('transform')!">
            <ng-template matStepLabel>Transform</ng-template>

            <div formGroupName="transform">

              <p>1. Quão complexa é a transformação dos dados?</p>
              <mat-radio-group formControlName="complexity" aria-label="Select an option">
                <mat-radio-button value="Simples">Baixa (ex: limpeza simples)</mat-radio-button>
                <mat-radio-button value="Média">Média (joins, agregações)</mat-radio-button>
                <mat-radio-button value="Alta">Alta (machine learning, pipelines)</mat-radio-button>
              </mat-radio-group>

              <p class="radio-group-space">2. Com que frequência os dados são transformados?</p>
              <mat-radio-group formControlName="frequency" aria-label="Select an option">
                <mat-radio-button value="Sob demanda">Sob demanda (quando eu quiser).</mat-radio-button>
                <mat-radio-button value="Agendado" class="spaced">Agendado (ex: uma vez por dia).</mat-radio-button>
                <mat-radio-button value="Em tempo real" class="spaced">Em tempo real.</mat-radio-button>
              </mat-radio-group>

              <p class="radio-group-space">3. Tempo médio da transformação:</p>
              <mat-radio-group formControlName="duration" aria-label="Select an option">
                <mat-radio-button value="Menos de 5 minutos">Menos de 5 minutos.</mat-radio-button>
                <mat-radio-button value="Entre 5 e 30 minutos" class="spaced">Entre 5 e 30 minutos.</mat-radio-button>
                <mat-radio-button value="Mais de 30 minutos" class="spaced">Mais de 30 minutos.</mat-radio-button>
              </mat-radio-group>

              <p class="radio-group-space">4. Quais serviços você considera para transformação?</p>
              <div formArrayName="services">
                <mat-checkbox *ngFor="let service of transformServices; let i = index" [formControlName]="i">
                  {{ service }}
                </mat-checkbox>
              </div>

              <!-- <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                      required>
              </mat-form-field> -->

              <div class="button-bottom-step-control">
                <button mat-raised-button color="primary" matStepperNext type="button">Avançar</button>
                <button mat-stroked-button color="primary" matStepperPrevious type="button">Voltar</button>
              </div>
            </div>
        </mat-step>

        <!-- Etapa 3 - Carga -->
        <mat-step class="step" [stepControl]="etlForm.get('load')!">
            <ng-template matStepLabel>Load</ng-template>

            <div formGroupName="load">

            <p>1. Onde os dados serão armazenados após o processamento?</p>
            <mat-radio-group formControlName="storeLocation" aria-label="Select an option">
              <mat-radio-button value="Arquivos (ex: S3)">Arquivos (ex: S3)</mat-radio-button>
              <mat-radio-button value="Banco de dados relacional">Banco de dados relacional</mat-radio-button>
              <mat-radio-button value="Data warehouse para BI">Data warehouse para BI</mat-radio-button>
            </mat-radio-group>

            <p class="radio-group-space">2. Você precisará consultar com SQL?</p>
            <mat-radio-group formControlName="needSQL" aria-label="Select an option">
              <mat-radio-button value="Sim">Sim</mat-radio-button>
              <mat-radio-button value="Não">Não</mat-radio-button>
            </mat-radio-group>

            <p class="radio-group-space">3. Deseja visualizar dados em dashboards?</p>
            <mat-radio-group formControlName="needVisualization" aria-label="Select an option">
              <mat-radio-button value="Sim">Sim</mat-radio-button>
              <mat-radio-button value="Não">Não</mat-radio-button>
            </mat-radio-group>

            <p class="radio-group-space">4. Quais serviços você deseja usar para armazenamento?</p>
            <div formArrayName="services">
              <mat-checkbox *ngFor="let service of loadServices; let i = index" [formControlName]="i">
                {{ service }}
              </mat-checkbox>
            </div>

            <div class="button-bottom-step-control">
              <!-- <button matButton matStepperPrevious>Back</button>
              <button matButton (click)="stepper.reset()">Reset</button> -->
              <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
                <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
                <div *ngIf="!isLoading">
                  Concluir
                </div>
              </button>
              <button mat-stroked-button color="primary" matStepperPrevious>Voltar</button>
            </div>
            </div>
        </mat-step>
      </mat-stepper>
    </form>
  </ng-container>

  <ng-container *ngIf="results">
    <!-- Etapa de Extração -->
    <mat-card class="etl-card extract">
      <h2 class="etl-title">🛠️ Etapa de Extração</h2>
      <div class="etl-content">
        <p><strong>Origem:</strong> {{ etlForm.value.extract.origin }}</p>
        <p><strong>Frequência:</strong> {{ etlForm.value.extract.frequency }}</p>
        <p><strong>Tamanho:</strong> {{ etlForm.value.extract.size }}</p>

        <p class="section-label">Recomendação:</p>
        <ul>
          <li *ngFor="let item of results.extract">{{ item.servico }}</li>
        </ul>

        <p class="section-label">Justificativa:</p>
        <ul>
          <li *ngFor="let item of results.extract">{{ item.justificativa }}</li>
        </ul>
      </div>
    </mat-card>

    <!-- Etapa de Transformação -->
    <mat-card class="etl-card transform">
      <h2 class="etl-title">🔄 Etapa de Transformação</h2>
      <div class="etl-content">
        <p><strong>Complexidade:</strong> {{ etlForm.value.transform.complexity }}</p>
        <p><strong>Frequência:</strong> {{ etlForm.value.extract.frequency }}</p>

        <p class="section-label">Recomendação:</p>
        <ul>
          <li *ngFor="let item of results.transform">{{ item.servico }}</li>
        </ul>

        <p class="section-label">Justificativa:</p>
        <ul>
          <li *ngFor="let item of results.transform">{{ item.justificativa }}</li>
        </ul>
      </div>
    </mat-card>

    <!-- Etapa de Carga -->
    <mat-card class="etl-card load">
      <h2 class="etl-title">📦 Etapa de Carga</h2>
      <div class="etl-content">
        <p><strong>Destino:</strong> {{ etlForm.value.load.storeLocation }}</p>
        <!-- <p><strong>Precisa de SQL?</strong> {{ etlForm.value.load.needSQL }}</p> -->

        <p class="section-label">Recomendação:</p>
        <ul>
          <li *ngFor="let item of results.load">{{ item.servico }}</li>
        </ul>

        <p class="section-label">Justificativa:</p>
        <ul>
          <li *ngFor="let item of results.load">{{ item.justificativa }}</li>
        </ul>
      </div>
    </mat-card>
  </ng-container>
</div>


<!-- <button matButton="elevated" (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->




